
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid text-center">
      <div class="navbar-brand container-fluid" > 
        <img routerLink="/dashboard/{{uid}}" src="https://i.ibb.co/vmwdG9p/Instagram-Font-and-Instagram-Logo.jpg" alt="insta" style="border: 0; height: 50px;" class="img-fluid">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav ">

          
            <li class="nav-item ">
            <!-- <mat-icon data-bs-toggle="modal" data-bs-target="#post">post_add</mat-icon> -->
                <mat-icon mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item data-bs-toggle="modal" data-bs-target="#post">
                     <mat-icon >post_add</mat-icon>

                      <span>Add Post</span>
                    </button>
                    <button mat-menu-item routerLink="/profile/{{uid}}">
                      <mat-icon>person2icon</mat-icon>
                      <span>View Profile</span>
                    </button>
                    <button mat-menu-item routerLink="/friends/{{uid}}">
                        <mat-icon>groupadd</mat-icon>
                        <span>Add Friend</span>
                      </button>
                     
                    <button mat-menu-item (click)="logout()">
                      <mat-icon >logout</mat-icon>
                      <span>Logout</span>
                    </button>
                  </mat-menu>
                                      
                    
            </li>
          
        </ul>
      </div>
    </div>
  </nav>
